<content>
	<canvas class="game-bg"></canvas>

	<div class="start-view">
		<h2>Elite</h2>
		<h3>Redux</h3>
	</div>

	<div class="cockpit-view">
		<!-- three.js canvas goes here -->
		<div class="scope"></div>
		<div class="hud">
			<div class="hologram target">
				<div class="gage"></div>
				<div class="ring-1"></div>
				<div class="ring-2"></div>
				<div class="base-2"></div>
				<div class="base-1"></div>
			</div>

			<div class="scanner">
				<div class="compass"></div>
				<div class="heat-gage"></div>
				<div class="speed-gage">
					<div class="rec"></div>
					<div class="val"></div>
				</div>
			</div>

			<div class="hologram ship">
				<div class="gage"></div>
				<div class="ring-1"></div>
				<div class="ring-2"></div>
				<div class="base-2"></div>
				<div class="base-1"></div>
			</div>
		</div>
	</div>
</content>
