<content data-status="start">
	<canvas class="bg-stars"></canvas>
	<canvas class="main-cvs"></canvas>

	<div class="start-view">
		<h2>Elite</h2>
		<h3>Redux</h3>
	</div>

	<div class="cockpit-view" data-show="front">
		<div class="front-view">
			<!-- three.js canvas goes here -->
			<div class="scope"></div>

			<div class="crosshair">
				<h3>Alderaan City</h3>
				<h4>164Ls</h4>
				<h5>0:07</h5>
			</div>
			
			<div class="hud">
				<div class="hologram target">
					<canvas width="130" height="130"></canvas>
					<div class="gage"></div>
					<div class="ring-1"></div>
					<div class="ring-2"></div>
					<div class="base-2"></div>
					<div class="base-1"></div>
				</div>

				<div class="scanner">
					<div class="compass"></div>
					<canvas width="215" height="170"></canvas>
					<div class="heat-gage" style="--val: 0.43;">
						<div class="max"></div>
					</div>
					<div class="speed-gage">
						<div class="rec" style="--val: 0.65;"></div>
						<div class="val" style="--val: 0.6;"></div>
					</div>
				</div>

				<div class="hologram ship">
					<canvas width="130" height="130"></canvas>
					<div class="gage"></div>
					<div class="ring-1"></div>
					<div class="ring-2"></div>
					<div class="base-2"></div>
					<div class="base-1"></div>
				</div>
			</div>
		</div>

		<div class="back-view"><h5>Back View</h5></div>
		<div class="left-view"><h5>Left View</h5></div>
		<div class="right-view"><h5>Right View</h5></div>
		<div class="up-view"><h5>Up View</h5></div>
		<div class="down-view"><h5>Down View</h5></div>
	</div>

	<div class="system-map">
		<canvas class="map-cvs"></canvas>
		<div class="sidebar">
			<div class="cart-head">
				<div class="unicart-logo">
					<i class="icon-uni-cart-logo"></i>
					<h4>Universal</h4>
					<h3>Cartographics</h3>
				</div>
				<div class="game-date">
					<span>03:14</span>
					<span>20 Dec 3024</span>
				</div>
			</div>
			<div class="cart-body">
				<h2>Sol</h2>
				<div class="row">
					<span>Orbital Period</span>
					<span>1 Days</span>
				</div>
				<div class="row">
					<span>Semi Major Axis</span>
					<span>0.00 AU</span>
				</div>
				<div class="row">
					<span>Orbital Eccentricity</span>
					<span>0.0323</span>
				</div>
				<div class="row">
					<span>Orbital Inclintation</span>
					<span>1.40 deg</span>
				</div>
				<div class="row">
					<span>Arg Of Periapsis</span>
					<span>60.90 deg</span>
				</div>
				<div class="row">
					<span>Rotational Period</span>
					<span>1.0 Days</span>
				</div>
				<div class="row">
					<span>Axial Tilt</span>
					<span>0.00 Deg</span>
				</div>

				<h2>Summary</h2>
				<div class="summary">
					Agricultural Economy.
				</div>
			</div>
		</div>
	</div>

	<div class="pause-view">
		<h3>Paused</h3>
	</div>

	<div class="over-view">
		<h3>Game Over</h3>
	</div>
</content>
