
@hudAnim: 500ms;


background: #000;
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: linear-gradient(180deg, #ff00ff2a, transparent 30%, transparent 60%, #0000ff2f);

	&[data-status="start"] {
		.start-view {
			opacity: 1;
			visibility: visible;
		}

		.cockpit-view {
			.scope {
				opacity: 0;
			}

			.hud {
				.scanner {
					transform: translateY(23px) rotateX(37deg);

					.compass {
						opacity: 0;
					}

					.heat-gage {
						transform: translateY(-7px);
						
						&:after {
							opacity: 0;
						}
						
						.max {
							filter: brightness(.5);
						}
					}

					.speed-gage {
						transform: translateY(-7px);
					}
				}

				.hologram {
					&:before {
						opacity: .2;
						transform: translateY(23px);
					}

					canvas {
						transform: translateY(21px);
					}

					.gage {
						opacity: 0;
						transition-duration: @hudAnim * .5;
					}

					.ring-1 {
						transform: translateY(31px);
					}

					.ring-2 {
						transform: translateY(23px);
					}

					.base-2 {
						transform: translateY(7px);
					}
				}
			}
		}
	}

	&[data-status="space"] {
		.start-view {
			display: none;
		}
	}

	canvas.bg-stars,
	canvas.main-cvs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	.start-view,
	.cockpit-view {
		// opacity: 0;
		// visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;

		h2 {
			margin-top: 31px;
			font-weight: 400;
			font-size: 73px;
			font-family: Righteous, sans-serif;
			text-transform: uppercase;
			color: #c0ffc0bb;
			text-shadow: 0 0 5px #aaffaa66,
						0 0 17px #1eff9066,
						0 0 29px #00ff0066;
		}

		h3 {
			font-weight: 400;
			font-size: 23px;
			font-family: Righteous, sans-serif;
			text-transform: uppercase;
			color: #f0f0ffbb;
			text-shadow: 0 0 3px #aaaaffbb,
						0 0 7px #1e90ffbb;
		}
	}

	.cockpit-view {
		&[data-show="back"] {
			.front-view { display:none; }
			.back-view { display: block; }
		}

		&[data-show="left"] {
			.front-view { display:none; }
			.left-view { display: block; }
		}

		&[data-show="right"] {
			.front-view { display:none; }
			.right-view { display: block; }
		}

		&[data-show="up"] {
			.front-view { display:none; }
			.up-view { display: block; }
		}

		&[data-show="down"] {
			.front-view { display:none; }
			.down-view { display: block; }
		}


		.back-view,
		.left-view,
		.right-view,
		.up-view,
		.down-view {
			display: none;
			position: relative;
			padding: 37px 0 0;

			h5 {
				font-weight: 400;
				font-size: 23px;
				font-family: Rajdhani, sans-serif;
				text-transform: uppercase;
				color: #f0f0ffbb;
				text-shadow: 0 0 3px #aaaaffbb,
							0 0 7px #1e90ffbb;
			}
		}

		.front-view {
			display: block;
		}

		canvas.game-cvs {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.scope {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url(~/icons/cockpit-scope.png) 50% -31px/cover no-repeat;
			opacity: 1;
		}

		.hud {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 137px;

			canvas {
				// background-color: rgba(#fff,.1);
			}

			.scanner {
				position: absolute;
				top: 0;
				left: 320px;
				width: 216px;
				height: 107px;
				background: url(~/icons/scanner-base.png) no-repeat;
				background-position: -312px -476px;
				perspective: 500px;
				transform: translateY(0px) rotateX(0deg);
				transform-origin: 50% 100%;
				transition: transform @hudAnim ease-in-out;

				.compass {
					position: absolute;
					top: -3px;
					left: -67px;
					width: 41px;
					height: 41px;
					// background-color: rgba(#fff,.1);
					background-repeat: no-repeat;
					background-image: url(~/icons/hud-compass.png);
					background-position: -262px -462px;
					opacity: 1;
					transition: opacity @hudAnim ease-in-out;
				}

				canvas {
					position: absolute;
					top: -43px;
					left: 0;
					z-index: 2;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;
				}

				.heat-gage {
					position: absolute;
					top: 27px;
					left: -33px;
					width: 79px;
					height: 84px;
					// background-color: rgba(#fff,.1);
					background-repeat: no-repeat;
					background-image: url(~/icons/scanner-heat-bg.png);
					background-size: 0 0;
					background-position: -278px -499px;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;
					--val: 0;

					&:before,
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						background: inherit;
						background-size: 860px 620px;
					}

					&:before {
						opacity: .35;
					}

					&:after {
						filter: sepia(1) hue-rotate(75deg) saturate(2.5);
						clip-path: inset(calc( 100% * calc( 1 - var( --val ) ) ) 0 0 0);
						opacity: 1;
						transition: opacity @hudAnim ease-in-out;
					}

					.max {
						position: absolute;
						top: 0;
						left: 0;
						width: 37px;
						height: 29px;
						// background-color: rgba(#fff,.1);
						background-repeat: no-repeat;
						background-image: url(~/icons/scanner-heat-max.png);
						background-position: -278px -499px;
						opacity: .65;
						filter: none;
						transition: filter @hudAnim ease-in-out;
					}
				}

				.speed-gage {
					position: absolute;
					top: 27px;
					right: -33px;
					width: 85px;
					height: 87px;
					// background-color: rgba(#fff,.1);
					background-repeat: no-repeat;
					background-image: url(~/icons/scanner-speed-bg.png);
					background-position: -471px -499px;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;

					.rec {
						position: absolute;
						top: 0;
						left: 4px;
						width: 71px;
						height: 81px;
						overflow: hidden;
						// background-color: rgba(#fff,.1);
						--val: 0;

						&:before {
							content: "";
							position: absolute;
							top: -499px;
							left: -476px;
							width: 860px;
							height: 620px;
							background-image: linear-gradient(0deg, transparent, #09f, transparent);
							// background-color: #fff;
							background-size: 100% 36px;
							background-position: 0 calc( 561px - calc( var( --val ) * 74px ) ); // max: 487		min: 561
							background-repeat: no-repeat;
							mask-image: url(~/icons/scanner-speed-rec.png);
						}
					}

					.val {
						position: absolute;
						top: 0;
						right: -7px;
						width: 35px;
						height: 81px;
						// background-color: rgba(#fff,.1);
						background-repeat: no-repeat;
						background-image: url(~/icons/scanner-speed-val.png);
						background-position: -529px -499px;
						background-size: 0 0;
						--val: 0;

						&:before,
						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: inherit;
							height: inherit;
							background: inherit;
							background-size: 860px 620px;
						}

						&:before {
							opacity: .35;
						}

						&:after {
							filter: sepia(1) hue-rotate(75deg) saturate(2.5);
							clip-path: inset(calc( 100% * calc( 1 - var( --val ) ) ) 0 0 0);
						}
					}
				}
			}

			.hologram {
				position: absolute;
				top: 29px;
				width: 139px;
				height: 95px;
				// background-color: rgba(#f66,.1);

				canvas {
					position: absolute;
					top: -100px;
					left: -5px;
					z-index: 2;
					transform: translateY(0px);
					transition: transform (@hudAnim * 1.75) ease-in-out;
				}

				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 51px;
					height: 37px;
					background: radial-gradient(ellipse at center, var( --color ), transparent 70%);
					opacity: .25;
					transform: translateY(0px);
					transition: opacity @hudAnim ease-in-out,
								transform @hudAnim ease-in-out;
				}

				&.target {
					left: 113px;
					--color: #f90;
					// transform: rotate(-2deg);

					canvas {
						filter: drop-shadow(1px 0 3px #ff990055)
								drop-shadow(-1px 0 3px #ff990055)
								drop-shadow(0px -1px 3px #ff990055)
								drop-shadow(0px 1px 3px #ff990055);
					}
				}

				&.ship {
					right: 113px;
					--color: #3a3;
					// transform: rotate(2deg);

					canvas {
						filter: drop-shadow(1px 0 3px #11ee1133)
								drop-shadow(-1px 0 3px #11ee1133)
								drop-shadow(0px -1px 3px #11ee1133)
								drop-shadow(0px 1px 3px #11ee1133);
					}

					.gage {
						left: auto;
						right: -2px;
						// background-color: rgba(#fff,.1);
						background-image: url(~/icons/holo-gage-right.png);
						background-position: -630px -530px;
					}
				}

				.gage {
					position: absolute;
					top: 23px;
					left: -2px;
					width: 86px;
					height: 50px;
					// background-color: rgba(#fff,.1);
					background-image: url(~/icons/holo-gage-left.png);
					background-position: -128px -530px;
					opacity: 1;
					transition: opacity (@hudAnim * 1.5) ease-in-out;
				}

				.ring-1 {
					position: absolute;
					top: 0;
					left: 0px;
					width: 139px;
					height: 44px;
					// background-color: rgba(#fff,.1);
					background-image: url(~/icons/holo-ring-1.png);
					background-position: -129px -507px;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;
				}

				.ring-2 {
					position: absolute;
					top: 7px;
					left: 0px;
					width: 139px;
					height: 48px;
					// background-color: rgba(#fff,.1);
					background-image: url(~/icons/holo-ring-2.png);
					background-position: -129px -511px;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;
				}

				.base-2 {
					position: absolute;
					bottom: 13px;
					left: 0px;
					width: 139px;
					height: 32px;
					// background-color: rgba(#fff,.1);
					background-image: url(~/icons/holo-base-2.png);
					background-position: -129px -556px;
					transform: translateY(0px);
					transition: transform @hudAnim ease-in-out;
				}

				.base-1 {
					position: absolute;
					bottom: 0;
					left: 0px;
					width: 139px;
					height: 32px;
					// background-color: rgba(#fff,.1);
					background-image: url(~/icons/holo-base-1.png);
					background-position: -129px -565px;
				}
			}
		}
	}
}

// custom fonts
@font-face {
	font-family: "Righteous";
	font-style: normal;
	font-weight: 400;
	// font-display: swap;
	src: url(~/fonts/Righteous-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Rajdhani";
	font-style: normal;
	font-weight: 400;
	// font-display: swap;
	src: url(~/fonts/Rajdhani-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
